body {
	min-height: 1540px;
}

p {
	margin-top: 0.3em;
	margin-bottom: 0em;
}

.lightbox {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(10, 10, 10, 0.8);
	text-align: center;
	margin: auto;
}

#gallery {
	
}

#closeGallery {
	position: absolute;
	left: 50%;
	top: -75px;
	transition: transform 0.2s ease-out;
}

#closeGallery div {
	position: relative;
	left: -50%;
	border-radius: 10px;
	background: rgba(22, 22, 22, 0.9);
	padding: 11px;
	font-size: 1.5em;
	text-shadow: none;
	color: #fff;
}

#galleryImage {
	box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.5);
	max-width: 98%;
	max-height: 98%;
	max-height: 98vh;
	bottom: 0;
	left: 0;
	margin: auto;
	overflow: auto;
	position: fixed;
	right: 0;
	top: 0;
	padding-bottom: 0px;
	position: relative;
	transform: translate(0, 0);
	background-size: contain;
}

#galleryContainer {
	position: relative;
	height: 0;
}

#galleryDrawer {
	height: 100vh;
	position: absolute;
	top: 0;
	width: 100%;
	transition: transform 0.2s ease-out;
}

#galleryList {
	box-shadow: 0px 0px 40px 10px rgba(0, 0, 0, 0.5);
	position: relative;
	display: inline-block;
	padding: 0;
	margin-top: 20px;
	background-color: #000; //
	opacity: 0.8;
}

.thumbnail {
	width: 16vw;
	height: 16vw;
	background-size: cover;
	opacity: 0.8;
	max-height: 20vh;
	max-width: 20vh;
	display: inline-block;
}

div.horizontal {
	display: flex;
	justify-content: center;
	height: 100%;
}

div.vertical {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 100%;
}

figure {
	margin: 0;
	text-align: center;
}

.photo {
	display: inline-block;
	margin: auto;
	width: 25%;
	background-size: cover;
	background-position: center center;
	text-align: right;
	position: relative;
	padding-bottom: 25%;
	visibility: hidden;
	vertical-align: top;
}

.firstImage {
	float: left;
	width: 100%;
	background-size: contain;
	padding: 0;
}

.firstImageImg {
	padding: 0;
	width: 100%;
}

img {
	padding-bottom: 0px;
	vertical-align: top;
}

.material-icons {
	display: none;
	font-size: 36px;
	opacity: 0.8;
}

video {
	width: 100%;
}

article {
	background: rgba(0, 0, 0, 0);
	width: 75%;
	padding: 0px;
	margin: auto;
	margin-bottom: 64px;
	max-width: 1024px;
	box-shadow: 1px 1px 15px 5px rgba(0, 0, 0, 0.4);
}

.actionbutton {
	background-color: #4BC44B;
	margin: 10px;
	padding: 3px 5px 2px 4px;
	border-radius: 6px;
}

.articleactions {
	display: none;
	border-radius: 9px;
	position: absolute;
	text-align: right;
	padding: 4px;
	right: 0em;
	z-index: 1234;
	bottom: 0;
}

.drafttoggle {
	display: none;
	text-align: left;
	padding: 25px;
	font-size: 1.1em;
}

.draftwatermark {
	display: none;
	position: absolute;
	opacity: 0.7;
	width: 100%;
	text-align: center;
	top: 25%;
	z-index: 1000;
	color: #b00;
	font-weight: bolder;
	font-size: 12em;
	transform: rotate(-17deg);
}

.articleedit {
	position: relative;
	text-align: right;
}

.articledelete {
	display: none;
}

.articlesave {
	display: none;
}

.photodelete {
	display: none;
	position: absolute;
	top: 0;
	right: 0;
}

.posttitle {
	font-size: 1.2em;
	font-weight: bold;
	float: left;
}

.postdescription {
	clear: both;
	padding-top: 10px;
}

.drophint {
	display: none;
	text-align: center;
	font-weight: bold;
	padding: 20px;
	background-color: rgba(222, 222, 222, 0.8);
	text-align: center;
	border-radius: 12px;
	border: 3px solid #4BC44B;
	border-style: dashed;
	margin-bottom: 16px;
}

.galleria {
	width: 700px;
	height: 400px;
	background: #000
}

/* editor
*/
i {
	cursor: pointer;
}

[contenteditable="true"] {
	
}

.posttitle[contentEditable=true]:empty:not(:focus):before {
	font-style: italic;
	content: "Post title";
	color: #aaa;
}

.postdescription[contentEditable=true]:empty:not(:focus):before {
	font-style: italic;
	content: "Post message";
	color: #aaa;
}

[contenteditable="true"]:focus {
	border: none;
	outline: none;
}

.postdate {
	font-style: italic;
	border-width: 0;
	font-family: inherit;
	font-size: 1.2em;
	background-color: inherit;
	float: right;
	text-align: right;
}

.postdate:disabled {
	color: #000;
	font-family: inherit;
	font-size: 1.2em;
	background-color: inherit;
}

/* tablets, portrait */
@media screen and (max-width: 1024px) {
	body {
		margin: 0;
	}
	article {
		width: 97%;
	}
}

/* phones */
@media screen and (max-width: 736px) {
	body {
		margin: 0;
	}
	article {
		width: 100%;
		padding: 0;
		max-width: auto;
	}
}